Q1. List any five functions of the pandas library with execution.

read_csv(): Read data from a CSV file into a DataFrame.

head(): Display the first n rows of a DataFrame (default is 5)

info(): Get a summary of DataFrame information, including data types and missing values.

groupby(): Group and aggregate data based on a column.

to_csv(): Write a DataFrame to a CSV file.

import pandas as pd
data=pd.read_csv("file_name")
data.head()
data.info()
data.groupby("column_name")
data.to_csv('output.csv',index=False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [11]:
import pandas as pd

def re_index(df):
    new_index=pd.Series(range(1,2*len(df),2))
    df.index=new_index

d={'A':[5456,4323,754],'B':[355,344,78],'C':[54,6,45]}
df=pd.DataFrame(d)

re_index(df)
df

      A    B   C
1  5456  355  54
3  4323  344   6
5   754   78  45

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [15]:
data=pd.DataFrame([2,3,5,6,8,7,5],columns=["Values"])


def sum_number(df):
    if "Values" in df.columns:
        
        value_data=df['Values']
        sum_=value_data.head(3).sum()
        print("sum of three number",sum_)
    
sum_number(data)

sum of three number 10

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [22]:
data = {'Text': ['This is a sample sentence.',
                 'Another example of text.',
                 'Pandas DataFrame word count']}

df=pd.DataFrame(data)

def word_number(text):
    word=text.split()
    return len(word)
        
def add_count(df):
    df['Word_Count']=df['Text'].apply(word_number)

    
add_count(df)

print(df)

                          Text  Word_Count
0   This is a sample sentence.           5
1     Another example of text.           4
2  Pandas DataFrame word count           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size returns the total number of elements (cells) in the DataFrame.

DataFrame.shape returns a tuple with the number of rows and columns in the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in pandas, you can use the pd.read_excel() function.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [26]:
data = {'Email': ['user1@example.com', 'user2@example.org', 'user3@example.net']}
df = pd.DataFrame(data)

def user_name(df):
    
    df['Username']=df['Email'].str.split('@').str[0]
    
user_name(df)

print(df)

               Email Username
0  user1@example.com    user1
1  user2@example.org    user2
2  user3@example.net    user3

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [8]:
import pandas as pd
def filter_dataset(df):
    marks= df[(df["A"]>5) & (df["B"]<10)]
        
    filter_df=marks

    
    return filter_df

d={"A":[45,3,2,23,54],"B":[64,2,11,3,44],"C":[33,11,22,34,23]}
df=pd.DataFrame(d)

print(filter_dataset(df))

    A  B   C
3  23  3  34

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [10]:
def calculate_stats(df):
    
    mean=df['Values'].mean()
    median=df['Values'].median()
    standard_deviation=df['Values'].std()
    
    return mean,median, standard_deviation

data=pd.DataFrame([2,3,5,6,8,7,5],columns=["Values"])
df=pd.DataFrame(data)
print(calculate_stats(df))

(5.142857142857143, 5.0, 2.1157009420498154)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [11]:
def calculate_average(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    df.sort_values(by='Date', inplace=True)
    
    df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()
    
    return df

In [13]:
d={'Date':['12-sep-2022','24-Nov-2024']}
df=pd.DataFrame(d)
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.strftime('%A')
df

        Date Weekday
0 2022-09-12  Monday
1 2024-11-24  Sunday

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [15]:
def add_weekday(df):
    
    df['Date']=pd.to_datetime(df['Date'])
    
    df['Weekday']=df['Date'].dt.strftime('%A')
    return df

d={'Date':['12-sep-2022','24-Nov-2024']}
df=pd.DataFrame(d)
print(add_weekday(df))

        Date Weekday
0 2022-09-12  Monday
1 2024-11-24  Sunday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [1]:
import pandas as pd

def select_date_range(df):

    df['Date'] = pd.to_datetime(df['Date'])
    
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    
    filtered_df = df[mask]
    
    return filtered_df

In [2]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

SyntaxError: invalid syntax (2274609210.py, line 1)