Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
l1=['Pwskills',[1,2,3,4,'veer'],7.67,(1,2,3,'mewada')]

In [3]:
l1

['Pwskills', [1, 2, 3, 4, 'veer'], 7.67, 5.16, (1, 2, 3, 'mewada')]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [10]:
var1=''
print(type(var1))
var2='[DS,ML,Python]'
print(type(var2))
var3=['DS','ML','Python']
print(type(var3))
var4=1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
# / division operator use to divide operands
print(10/5)

# % modulus operator give remainder 
print(10%4)

# // operator give fraction number
print(20//3)

# ** operator use to power of a oparands

print(2**3)

2.0
2
6
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
l2=[11,5,4,2,7.9,'veer',True,{2,},(2,4)]
for i in l2:
    print(i)
    print(type(i))

11
<class 'int'>
5
<class 'int'>
4
<class 'int'>
2
<class 'int'>
7.9
<class 'float'>
veer
<class 'str'>
True
<class 'bool'>
{2}
<class 'set'>
(2, 4)
<class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [28]:
A=int(input('enter number A= '))
B=int(input('enter number B= '))
while(A%B==0):
    print('A is purely divisible by B ')
    print(A/B)
    break
if(A%B!=0):
    print('A is not purely divisible by B')

enter number A=  10
enter number B=  2

A is purely divisible by B
5.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
l3=[2,34,5,3,12,34,56,78,9,7,45,65,43,57,54,32,78,98,76,54,85,43,56,90,80]

for i in l3:
    if(i%3==0):
        print(i ,' is divisible by 3')
    else:
        print(i ,' is not divisible by 3')

2  is not divisible by 3
34  is not divisible by 3
5  is not divisible by 3
3  is divisible by 3
12  is divisible by 3
34  is not divisible by 3
56  is not divisible by 3
78  is divisible by 3
9  is divisible by 3
7  is not divisible by 3
45  is divisible by 3
65  is not divisible by 3
43  is not divisible by 3
57  is divisible by 3
54  is divisible by 3
32  is not divisible by 3
78  is divisible by 3
98  is not divisible by 3
76  is not divisible by 3
54  is divisible by 3
85  is not divisible by 3
43  is not divisible by 3
56  is not divisible by 3
90  is divisible by 3
80  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANS:-
 
Mutable data type:- Mutable data types are those that can be changed or modified after creation. ex:- list,array

Immutable data types:_ Immutable data types are those that cannot be changed or modified after creation. ex:- tuple,string