In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used for label-based indexing, and it includes the endpoint.
iloc is used for integer-based indexing, and it excludes the endpoint.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
reindex=[3,0,1,2]
new_df=df.reindex(reindex)
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

loc is used for label-based indexing, and new_df.loc[2] is used to select a row based on its label.

iloc is used for integer-based indexing, and new_df.iloc[2] is used to select a row based on its integer position.

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.386402  0.527935  0.722711  0.577977  0.348629  0.648887
2  0.833760  0.736586  0.474683  0.747486  0.666172  0.592484
3  0.191766  0.009569  0.653703  0.062548  0.755428  0.144975
4  0.043521  0.195161  0.223002  0.096644  0.389577  0.729420
5  0.389888  0.565227  0.111980  0.237500  0.043628  0.450427
6  0.005781  0.488613  0.630021  0.680885  0.209411  0.835937

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [7]:
df1.mean()

column_1    0.308520
column_2    0.420515
column_3    0.469350
column_4    0.400507
column_5    0.402141
column_6    0.567022
dtype: float64

In [8]:
df1['column_2'].std()

0.2670878900044247

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
df1.loc[1,'column_2']='replace'

df1['column_2'].mean()

attempting to calculate the mean will result in an error because the mean() function expects numerical values.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Window functions in pandas are used for performing calculations on a sliding or expanding window of data in a DataFrame or Series. The main types of window functions are:

Rolling Functions: Calculate statistics over a fixed-size rolling window of data.
Expanding Functions: Calculate a statistic over all data points up to the current point.
Exponential Moving Average (EMA): Assign different weights to data points based on their age.
Custom Window Functions: Define your own functions for specific calculations.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [1]:
import pandas as pd

current_datetime=pd.to_datetime("now")

print(current_datetime.month)
print(current_datetime.year)

10
2023

/tmp/ipykernel_210/443355351.py:3: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_datetime=pd.to_datetime("now")

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [3]:
date1=input("Enter first date")
date2=input("Enter second date")

date1=pd.to_datetime(date1)
date2=pd.to_datetime(date2)

time_difference= date2-date1

days=time_difference.days

seconds= time_difference.seconds
minutes, seconds=divmod(seconds,60)
hours,minutes= divmod(minutes,60)

print(f"{days} days {hours} hours {minutes} minutes")

Enter first date 2023-08-01
Enter second date 2023-08-03

2 days 0hours 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [7]:
import pandas as pd 
file_path = input("Enter the CSV file path: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
    exit(1)

print("Columns in the CSV file:")
for column in df.columns:
    print(column)

column_name = input("Enter the column name to convert to categorical: ")

if column_name not in df.columns:
    print(f"Column '{column_name}' not found in the CSV file.")
    exit(1)
category_order = input("Enter the category order (comma-separated values): ")
category_order = [category.strip() for category in category_order.split(",")]
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
df.sort_values(by=[column_name], inplace=True)
print("Sorted Data:")
print(df)

Enter the CSV file path:  data.csv

Columns in the CSV file:
name
email
number

Enter the column name to convert to categorical:  name
Enter the category order (comma-separated values):  p,r

Sorted Data:
  name         email     number
0  NaN  mewada@gamil   45363547
1  NaN   hdaka@gmail  476787656

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
file_path=input("Enter file path")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
    exit(1)

df["Date"]=pd.to_datetime(df["Date"])
df=df.set_index("Date")
category_columns = [col for col in df.columns if col.startswith('Category')]
category_sales = df[category_columns].sum(axis=1)

# Plot the stacked bar chart
plt.figure(figsize=(10, 6))
category_sales.plot(kind='bar', stacked=True)
plt.title('Sales of Product Categories Over Time')
plt.xlabel('Date')
plt.ylabel('Total Sales')
plt.legend(category_columns, loc='upper right')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.